.main-container {
    display: flex;
    height: calc(100vh - #{map-get($header-height, basic)});
    height: calc(#{var(--vh)} * 100 - #{map-get($header-height, basic)});

    @include rwd(mobile) {
        height: calc(100vh - #{map-get($header-height, mobile)});
        height: calc(#{var(--vh)} * 100 - #{map-get($header-height, mobile)});
    }
}

.data-panel {
    flex: 1;
}

.map-panel {
    flex: 3;

    @include rwd(pad) {
        flex: 2;
    }
}