.available-box {
    display: flex;
    align-items: baseline;
}

.available-target {
    margin-right: 10px;
}

.available-ques {
    display: inline-block;
    width: 40px;
    align-self: flex-end;
}

