.data-panel {
    background-color: map-get($theme-color, bgc);
    padding: 20px 30px;
    height: 100%;
    position: relative;

    >*:not(:last-child) {
        margin-bottom: 20px;
    }
}

.load-more-data {
    display: block;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
}

.locate-cur-pos {
    background-image: url('~@/assets/img/ic_location.png');
    background-size: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    left: 10px;
    z-index: 20;
}