.btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 5px 10px;
    transition: all .3s;

    &:not(:disabled):hover {
        filter: brightness(1.1);
    }

    &:disabled {
        cursor: not-allowed;
    }

    &-solid {
        @each $key, $val in $theme-color {
            &-#{$key} {
                background-color: $val;
                color: #fff;

                &:disabled {
                    background-color: map-get($theme-color, unavailable);
                }
            }
        }
    }

    &-border {
        @each $key, $val in $theme-color {
            &-#{$key} {
                border: 2px solid $val;
                color: $val;

                &:hover {
                    background-color: rgba($val, .1);
                }

                &:disabled {
                    border: 2px solid map-get($theme-color, unavailable) !important;
                    color: map-get($theme-color, unavailable) !important;
                }
            }
        }
    }
}