.btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    padding: 5px 10px;
    transition: all .3s;

    &:hover {
        filter: brightness(1.1);
    }

    &-solid {
        @each $key, $val in $theme-color {
            &-#{$key} {
                background-color: $val;
                color: #fff;
            }
        }
    }

    &-border {
        @each $key, $val in $theme-color {
            &-#{$key} {
                border: 2px solid $val;
                color: $val;

                &:hover {
                    background-color: rgba($val, .1);
                }
            }
        }
    }
}