.logo-img {
    display: inline-block;
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.logo-title {
    display: inline-block;
    vertical-align: middle;
}

.logo-box {
    transition: all .3s;
    @include rwd(mobile) {
        padding: 10px;
        width: 100%;
    }

    &.active {
        background-color: map-get($theme-color, pmr);
        
        .logo-title {
            color: #fff !important;
        }
    }
}

.nav-toggler {
    width: 40px;
    vertical-align: middle;
    float: right;
}