.result-list {
    position: absolute;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: map-get($theme-color, unavailable);
}

.result-list-item {
    padding: 10px 5px;
    cursor: pointer;
    transition: all .5s;

    &:not(:last-child) {
        border-bottom: 1px solid map-get($theme-color, unavailable);
    }

    &:hover {
        background-color: #f5f2f2;
    }
}